/*layout*/
@use "_var.scss" as v; 

/*section*/
.section{
    padding: 20px;
    margin: auto;
   
}
.section--header{
   max-width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 
}

.section--footer{
    border-top: 2px solid;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/*images*/
img{
    max-width: 100%;
}
.dwm{
    max-width: 40px;
}
[color-theme="sombre"] .dwm{

    background-image: url(../images/logob.svg);
}
.logo{
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    left: 20px;
 
}
[color-theme="sombre"] .logo{

    background-image: url(../images/logod.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.carre{
    background-image: url(../images/pc.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
}
[color-theme="sombre"] .carre{

    background-image: url(../images/pcd.svg);
}
.darkmode,
.menuui{
    width: 50px;
    height: 50px;
}
.logoui{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50px;
}

/*bouton darkmode et menu*/
.bouton{
    cursor: pointer;
    padding: 0;
    margin: 0;
    border:transparent;
    background-color: transparent;
    font-family: 'Lexend';
    display: inline-block;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    
}
.bouton--sombre{
    position: relative;
    right: 85px;
    top: 0px;
    width: 40px;
    height: 40px;

    background-image: url(../images/darkmode/on.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.bouton--sombre:hover{
    background-image: url(../images/darkmode/off.png);

}
[color-theme="sombre"] .bouton--sombre{
    background-image: url(../images/darkmode/ond.png);
}
[color-theme="sombre"] .bouton--sombre:hover{
    background-image: url(../images/darkmode/offd.png);
}
.bouton__menu{
    position: relative;
    top: 6px;
    left: 150px;
    z-index: 2;
    width: 30px;
    height: 30px;
    
    background-image: url(../images/menu/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.bouton__menu:hover{
    background-image: url(../images/menu/menuh.png);

}
[color-theme="sombre"] .bouton__menu{
    background-image: url(../images/menu/menud.png);
}
[color-theme="sombre"] .bouton__menu:hover{
    background-image: url(../images/menu/menudh.png);
}
/*menu ouvert*/
body[burger-menu] .menu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 1000px;
    width: 420px;
    background: var(--color-text-offset);
    z-index: 1;
}
body[burger-menu] .menu a{
   color: var(--color-bg);
}
body[burger-menu] .bouton__menu{
    background-image: var(--image-menu);
    
}

/*liens*/
a{
    text-decoration: none;
    color: var(--color-texte);
}
/*couleurs*/
.colors{
    width: 50px;
    height: 30px;
    border-radius: 150px ;
    border: groove 3px #dfc7e4;
    display: inline-block;
    padding: 5px;
    background-color: var(--color-bg);
    position: relative;
    left: 60px;
}
.colors--2{
    background-color: var(--color-text-offset);
}
.colors--3{
    background-color: var(--color-texte);
}
.colors--4{
    background-color: var(--color-secondary);
}


@media (min-width: 900px){

body[burger-menu] .menu{
    height: 1400px;
    width: 900px;
}
.carre{
    height: 500px;
}
.logo{
    width: 80px;
    height: 80px;
}
.bouton__menu{
    left: 350px;
}
.logoui{
    left: 80px;
}
.colors{

    left: 160px;
}
}
@media (min-width: 1200px){
    
    .logo{
        width: 90px;
        height: 90px;
        left: 50px;
        bottom: 15px;
    }
    .bouton__menu{
        left: 550px;
        top: 15px;
    }
    body[burger-menu] .menu{
        height: 1400px;
        width: 1350px;
    }
    .bouton--sombre{
        right: 90px;
        top: 10px;
    }
    .carre{
        height: 800px;
    }
    .dwm{
        width: 50px;
    }
}
@media (min-width: 1500px){
    .logo{
        width: 150px;
        height: 150px;
    }
    body[burger-menu] .menu{
        height: 1400px;
        width: 1950px;
    }
    
}