@use "_var.scss" as v; 

/*Nav et listes */
.menu{ 
    display: none;
    text-decoration: none;
    list-style: none;
   
}

.menu__list a:hover{
    color: var(--color-secondary);
}
[color-theme="sombre"] .menu__list a:hover{
    color: var(--color-secondary);
}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    list-style: none;
    
 }
.menu__item{
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: 333px;
    left: 10px;
    color: var(--color-texte);
    padding: 30px;
 }

/*reseaux*/

  .reseau{
      position: relative;
      list-style: none;
      display: flex; 
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 10px;
  }
  .reseau__el {
     padding: 10px;
    
  }
  
  .reseau__el a{
      display: inline-block;
      width: 20px;
      height: 20px;
      
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
     
  
      background-image: url(../images/reseaux/insta.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  
  }
  .reseau__el--insta a:hover{
      background-image: url(../images/reseaux/instah.png);
  }
  .reseau__el--insta a:focus{
      background-image: url(../images/reseaux/insta.png);
  }
  .reseau__el--pinterest a{
      background-image: url(../images/reseaux/pinterest.png);
  }
  .reseau__el--pinterest a:hover{
      background-image: url(../images/reseaux/pinteresth.png);
  }
  .reseau__el--pinterest a:focus{
      background-image: url(../images/reseaux/pinterest.png);
  }
  .reseau__el--mail a{
      background-image: url(../images/reseaux/mail.png);
  }
  .reseau__el--mail a:hover{
      background-image: url(../images/reseaux/mailh.png);
  }
  .reseau__el--mail a:focus{
      background-image: url(../images/reseaux/mail.png);
  }
  .reseau__el--behance a{
      background-image: url(../images/reseaux/behance.png);
  }
  .reseau__el--behance a:hover{
      background-image: url(../images/reseaux/behover.png);
  }
  .reseau__el--behance a:focus{
      background-image: url(../images/reseaux/behance.png);
  }
  [color-theme="sombre"] .reseau__el--insta a{
      background-image: url(../images/reseaux/instad.png);
  }
  [color-theme="sombre"] .reseau__el--pinterest a{
      background-image: url(../images/reseaux/pinterestd.png);
  }
  [color-theme="sombre"] .reseau__el--mail a{
      background-image: url(../images/reseaux/maild.png);
  }
  [color-theme="sombre"] .reseau__el--behance a{
      background-image: url(../images/reseaux/behanced.png);
  }
  [color-theme="sombre"] .reseau__el--insta a:hover{
      background-image: url(../images/reseaux/instadh.png);
  }
  [color-theme="sombre"] .reseau__el--pinterest a:hover{
      background-image: url(../images/reseaux/pinterestdh.png);
  }
  [color-theme="sombre"] .reseau__el--mail a:hover{
      background-image: url(../images/reseaux/maildh.png);
  }
  [color-theme="sombre"] .reseau__el--behance a:hover{
      background-image: url(../images/reseaux/behoverd.png);
  }
  /*liste uikit*/
  .button,
  .titre,
  .etat{
      list-style: none;
  }
  .button{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      left: 20px;
     
  }
  .reseau__ui{
      width: 50px;
      height: 50px;
      position: relative;
      left: 150px;
  }
  .etat{
      position: relative;
      left: 10px;
  }
  @media (max-width: 800px){
    .menu__list--typo,
    .menu__list--picto,
    .menu__list--reseaux{
    flex-direction: column;
    left: 30px;
    }
}
/*tablette*/
@media (min-width: 900px){
    .menu__item{
        left: 250px;
    }
    .menu__el {
        padding: 50px;
    }
    .button{
        justify-content: space-around;
        max-width: 400px;
    }
    .etat{
        left: 40px;
    }
    .reseau__ui{
        width: 70px;
        height: 70px;
        left: 150px; 
    }
}
@media (min-width: 1200px){
    .reseau{
        bottom: 10px;
    }
  .reseau__el a{
    width: 30px;
    height: 30px;
  }
 .menu__el {
    padding: 80px;
 }
 .menu__item{
    left: 420px;
    top: 450px;
    font-size: 50px;
}

}
@media (min-width: 1500px){
.menu__item{
    left: 650px;
    top: 450px;
}
}