:root{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset:#61008c;
    --color-secondary: #1D53B3;
}
[color-theme="clair"]{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset:#61008C;
    --color-secondary: #1D53B3;
}
[color-theme="sombre"]{
    --color-bg: #010101;
    --color-texte: #fefefe;
    --color-text-offset: #ffcc5A;
    --color-secondary: #1e1b27;
}

/*type*/
$font-text:"Crimson Text", serif;

.contenair{
    width: 100%;
    max-width: 750px;
}