:root{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset:#61008c;
    --color-secondary: #8c002b;
}
[color-theme="clair"]{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset:#61008C;
    --color-secondary: #8c002b;
    --image-menu: url(../images/menu/closewhite.png);
}
[color-theme="sombre"]{
    --color-bg: #010101;
    --color-texte: #fefefe;
    --color-text-offset: #ffcc5A;
    --color-secondary: #5affc9;
     --image-menu: url(../images/menu/close.png);
}

/*type*/
$font-text:"Crimson Text", serif;

.contenair{
    width: 100%;
    max-width: 750px;
    padding: 0;
    margin: auto;
}
@media (min-width: 900px){ 
.contenair{
    max-width: 900px;
    
}
}
@media (min-width: 1200px){ 
.contenair{
    max-width: 1300px;
 
 }
}